html,body{margin: 0;padding:0}
body{font-family: arial,sans-serif;font-size: 100%;text-align: center}
div#container{width: 90%;margin: 0 auto;text-align: left;
    border-left: 2px solid #74B881;border-right: 2px solid #74B881}

div#header{background-color:#36C;color: #ff0; }
h1,h2{margin: 0;padding:0}
h1{padding-left:0.5em;font: bold 2.4em/90px arial,serif}
h2{color: #AB5F0D;font-size: 1.5em}
div#footer a{color: #AB5F0D;font-weight: bold;text-decoration: underline}

div#navigation{float:left;width: 13em}
div#content{margin-left: 13em;padding: 1em}
div#footer{clear:left; text-align:center; padding: 0.5em;
    background-color: #74B881; color: #AB5F0D}

div#navigation ul{margin: 1em 0 1em 1em;padding: 0; list-style-type: none;}
div#navigation li{margin: 0;padding: 0}
div#navigation a{color:#AB5F0D;font: normal bold 1.0em/1.4em arial,sans-serif;text-decoration: none}
div#navigation a:hover{color: #033;text-decoration: underline}
div#navigation a#activelink{color: #033;text-decoration: none}

div.textimage{width: 100%;margin-bottom: 0px;border: 0px solid #000;background-color: #74B881} /*#f9f9f9}*/
div.textimage img{float:left;margin: 10px}
div.textimage h1, div.textimage p{margin:0 10px;padding: 0; text-align:center;}
div.textimage h1{margin-top: 10px; color: #AB5F0D}
div.clearer{clear: left}
